[Unit]
Description=Renew Let's Encrypt's certificates

[Timer]
OnCalendar=*-*-* 22:00:00
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target